
html,body{                   
    height:100%;
    margin: 0;
    padding: 0;
}


body { 
    background-image: url("/img/fondo2.jpg");
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-position: center top;
    display: flex;
    flex-direction: column;
}


#titulo{
    color: rgb(255, 255, 255);
    font-family: 'Creepster', sans-serif;
    margin-left: 10%;
    margin-top: 50px;
}

nav{
    top: 0;
    left: 0;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Creepster', sans-serif;
}

h5{ 
    color: black;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    padding: 15px;
}


p{
    text-align: center;
}

.quitarFav{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 30px;
}

#contenedor-fav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(255, 255, 200, 0.7);
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(132, 131, 129, 0.7);
    width: 100px;
    height: 420px;
    margin: 10px;
    position: relative;
}


.resultado .quitarFav {
    position: absolute;
    top: 5px;
    left: 5px;
}

#avatar{
  width: 150px;
}



/*RESPONSIVO*/

@media only screen and (max-width: 800px) {  /*celulares*/
   body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-size: cover;
    background-position: 80% center;  /*Mueve la imagen 650 pixeles a izq sobre el eje x, y la centra en el eje y*/
  }

  #inicio{
    margin-left:0;
    width: 250px;
    margin-top: 0;
  }

  .ocultoResponsive{
    display: none !important;
  }

  #contenedor-fav {
    margin-top: 5px;
  }

  .resultado{
    width: 200px !important;
  }

}