
/*Evita que la imagen se achique al cambiar el tamaño de la ventana*/
html,body{                   
    height:100%;
    margin: 0;
    padding: 0;
}

body { 
    background-image: url("img/fondo1.jpg");
    background-repeat: no-repeat;  
    background-attachment: fixed; /*No permite que se mueva el fondo si se scrollea*/
    background-size: cover;
    background-position: center top;
    align-items: center;
    display: flex;
    flex-direction: column;
}



h2{ 
    color: black;
    font-family: 'Creepster', sans-serif;
    text-align: center;
}

p{
    text-align: center;
}

#inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(255, 255, 200, 0.7);
    width: 600px;
    height: 40%;
}

#personajeInput{
    text-align: center;
    width:50%;
    font-size: 14px;
    font-family:  sans-serif;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(24, 238, 52, 0.967);
}


#buscarBtn{
    cursor: pointer;
    font-size: 30px;
    flex: none;
    width: auto;
    margin: 20px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(24, 238, 52, 0.967);
}


.oculto{
    display: none !important;
}

h1{
    color: black;
    text-shadow: 0 0 20px rgba(24, 238, 52, 0.967);
    font-family: 'Creepster', sans-serif;
    text-align: center;
}

#btnVolver{
    display: none;
}

a{
  text-decoration: none;
}

/*Header*/

header{
  display: flex;
  align-items: center;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

#iconFav{
  width: 30px;
}

.elemHeader{
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Creepster', sans-serif;
  text-shadow: rgba(255, 255, 255, 0.8);
  padding: 5px;
  text-shadow: 0 0 20px rgba(24, 238, 52, 0.967);
}


/*Contenedor donde muestro los resultados*/

#divResultado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(255, 255, 200, 0.7);
}

.resultado {
   flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(132, 131, 129, 0.7);
    width: 250px;
    height: 420px;
    margin: 10px;
}

h5{ 
    color: black;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    padding: 15px;
}


p{
    text-align: center;
}

.favNo , .favSi{
  position: absolute;
  margin: 5px;
  cursor: pointer;
  width: 30px;
}

#avatar{
  width: 120px;
}








/*RESPONSIVO*/

@media only screen and (max-width: 800px) {  /*celulares*/
   body {
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 80% center;  /*Mueve la imagen 650 pixeles a izq sobre el eje x, y la centra en el eje y*/
  }

  #inicio{
    margin-left:0;
    width: 250px;
    margin-top: 0;
  }

  .ocultoResponsive{
    display: none !important;
  }

  #pokemonInput{
    width: 75%;
  }

  #resultado {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(255, 255, 200, 0.7);
    width: 50%;
    height: 50%;
    margin-left: 0;
}

#contenedor-carrusel{
    position: relative;
    align-items: center;
    width: 100px;      /*este contenedor tiene que tener el tamaño de la imagen que quiero mostrar,es como la ventana que queda fija*/
    height: auto;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;  /*hace que solo se muestre lo que queda dentro de la ventana, por lo tanto las imagenes que sobresalen no se van a ver*/
}

#btnVolver{
  display: flex;
  color: black;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
  cursor: pointer;                      /*El cursor cambia a una mano*/
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(255, 255, 200, 0.7);
  
}

}

/*Estilo para estrella de favoritos*/

#agregarFav{
  width: 10%;
  position: absolute;
  bottom: 10px;  
  right: 10px;   
  cursor: pointer;
}